.parent {
    background-color: rgba(120,137,15, 0.7);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10%;
    text-align: center;
}
.card_vida {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10%;
    margin-top: 10px;
    text-align: center;
}
.botao {
    border: none;
    cursor: pointer;
    background-color: rgba(120,137,15, 0);
    padding: 20px;
    border-radius: 10%;
}
.mapaDoJogo2 {
    font-size: 14.5px;
    tab-size: 4;
    text-align: center;
}

.botao:hover {
    background-color: whitesmoke;
}
.botao_voltar{
    border: none;
    cursor: pointer;
    background-color: #345454;
    padding: 10px;
    border-radius: 10%;
}
.botao_voltar:hover{
    background-color: #7ca2a2;
}
.parede{
    color: red;
}
.botao_som{
    border: none;
    cursor: pointer;
    background-color: #344954;
    padding: 10px;
    border-radius: 10%;
}
.botao_som:hover{
    background-color: #ee0707;
}