.parent {
    background-color: rgba(149, 171, 8, 0.7);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10%;
    text-align: center;
}
.card_vida {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10%;
    margin-top: 10px;
    text-align: center;
}
.botao {
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10%;
}

.botao:hover {
    background-color: whitesmoke;
}
.botao_voltar{
    border: none;
    cursor: pointer;
    background-color: #345454;
    padding: 10px;
    border-radius: 10%;
}
.botao_voltar:hover{
    background-color: #7ca2a2;
}
.mapaDoJogo3{
    font-size: 11px;
    tab-size: 3.2;
    text-align: center;
}
.botao_som{
    border: none;
    cursor: pointer;
    background-color: #345454;
    padding: 10px;
    border-radius: 10%;
}
.botao_som:hover{
    background-color: #f60303;
}