.card {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10%;
    margin-top: 10px;
}
.botao {
    background-color: rgba(105, 119, 109, 0.5);
    border: none;
    padding: 15px;
    border-radius: 10%;
    width: 100%;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.botao:hover {
    background-color: rgb(68, 100, 76);
}
.botao_som{
    border: none;
    cursor: pointer;
    background-color: #345454;
    padding: 10px;
    border-radius: 10%;
}
.botao_som:hover{
    background-color: #7ca2a2;
}