.card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10%;
}
.botao{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 15px;
    border-radius: 10%;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.botao:hover {
    background-color: #df0e0e;
}